{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/admin/admin.css">

<div id="form_container">

  <h1 id="admin_header">Admin Tools</h1>

  <!-- <form>
    <input type="text" name=>
    <input type=text size=5 name=proglang>
    <a href="#" id=process_input><button>Submit
    </button></a>
  </form> -->

  <form ="">
    <div class="form-group">
      <label for="manufacturer">Manufacturer</label>
      <input type="text" name=m_name class="form-control" id="manufacturer" placeholder="Enter Manufacturer Name">
    </div>
    <div class="form-group">
      <label for="link">Link</label>
      <input type="text" name=m_link class="form-control" id="link" placeholder="Enter Link to Website">
    </div>
    <div class="form-group">
      <label for="logo">Logo Link</label>
      <input type="text" name=m_logo class="form-control" id="link" placeholder="Enter link to logo">
    </div>

    <div class="form-check form-check-inline">
      <input class="form-check-input"id="Cooking Equipment" type="checkbox" name="prod_cat" value="Cooking Equipment">
      <label class="form-check-label"for="Cooking Equipment">Cooking Equipment</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input"id="Food Warming Equipment"type="checkbox" name="prod_cat" value="Food Warming Equipment">
      <label class="form-check-label"for="Food Warming Equipment">Food Warming Equipment</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" id="Commercial Refrigeration" type="checkbox" name="prod_cat" value="Commercial Refrigeration">
      <label class="form-check-label" for="Commercial Refrigeration" >Commercial Refrigeration</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" id="Beverage Equipment" type="checkbox" name="prod_cat" value="Beverage Equipment">
      <label class="form-check-label" for="Beverage Equipment">Beverage Equipment</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" id="Smallwares, Storage, & Transportation" type="checkbox" name="prod_cat" value="Smallwares, Storage, & Transportation">
      <label class="form-check-label" for="Smallwares, Storage, & Transportation">Smallwares, Storage, & Transportation</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="prod_cat" value="Plumbing & Faucets">
      <label class="form-check-label" for="inlineCheckbox2">Plumbing & Faucets</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="prod_cat" value="Food Display & Merchandiser Equipment">
      <label class="form-check-label">Food Display & Merchandiser Equipment</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="prod_cat" value="Food Preperation Equipment">
      <label class="form-check-label">Food Preperation Equipment</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="prod_cat" value="Dishwashing Equipment">
      <label class="form-check-label" for="inlineCheckbox2">Dishwashing Equipment</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="prod_cat" value="Stainless Steel Equipment">
      <label class="form-check-label" for="inlineCheckbox2">Stainless Steel</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="prod_cat" value="Janitorial">
      <label class="form-check-label" for="inlineCheckbox2">Janitorial</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="prod_cat" value="Parts">
      <label class="form-check-label" for="inlineCheckbox2">Parts</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="prod_cat" value="Hospitality">
      <label class="form-check-label" for="inlineCheckbox2">Hospitality</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="checkbox" name="prod_cat" value="Specialty">
      <label class="form-check-label" for="inlineCheckbox2">Specialty</label>
    </div>
    <button type="submit" class="btn btn-primary" id="process_input">Submit</button>
  </form>
</div>


<div id="result" title="Database Message"></div>

<!-- Scripts -->
<script type="text/javascript" src="../static/js/admin.js">
</script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
</script>
{% endblock %}
