{% extends "base.html" %}
{% block content %}
<link type="text/css" rel="stylesheet" href="../static/css/manufacturers_page/manufacturers.css"

<div id="mainContainer">
  <div id="mainInnerContainer">

    <div id="mainBanner">
      <h2>Manufacturers We Represent</h2>
      <p>HD Sheldon is a global supplier of commercial kitchen Equipment. We represent over 30 manufacturers and have an international network of partners and agents, making us a truly global player that offers services worldwide.</p>
    </div>

    <ul id="filter">
      <li class="filterOptions"><span>All</span></li>
      <li class="filterOptions"><span>Cooking Equipment</span></li>
      <li class="filterOptions"><span>Food Warmers</span></li>
      <li class="filterOptions"><span>Commercial Refrigeration</span></li>
      <li class="filterOptions"><span>Beverage Equipment</span></li>
      <li class="filterOptions"><span>Food Displays</span></li>
      <li class="filterOptions"><span>Stainless Steel Equipment</span></li>
      <li class="filterOptions"><span>Smallware, Storage, & Transport Equipment</span></li>
      <li class="filterOptions"><span>Janitorial Supplies</span></li>
      <li class="filterOptions"><span>Janitorial Supplies</span></li>
      <li class="filterOptions"><span>Plumbing & Faucets</span></li>
      <li class="filterOptions"><span>Parts</span></li>
      <li class="filterOptions"><span>Hospitality Equipment</span></li>
      <li class="filterOptions"><span>Specialty</span></li>
    </ul>

    <ul id="logos">
    </ul>

  </div>
</div>



{% endblock %}
